<div class="nested-fields">
    <div class="container">
        <div class="field form-group">
            <%= f.label :exercise_name %>
            <%= f.text_field :exercise_name, class:"form-control",placeholder:"Exercise_Name" %>
        </div>
    </div>
</div>
